@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #fdfdfd;
    --text-color: #000000;
    --main-color: #c500cc;
    --white-color: #ffffff;
    --black-color: #000000;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

img {
    border-radius: 20px;
}

.profession {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(var(--initial-rotate));
    --orbit-origin-x: 38.4rem;
    transform-origin: var(--orbit-origin-x) 50%;
    --initial-rotate: 0deg;
}

@media (min-width: 768px) {
    .profession {
        --orbit-origin-x: 48rem;
    }
}
